# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore data files
*.csv
*.xlsx
*.json
*.parquet
*.feather
*.hdf5

# Ignore virtual environments
venv/
.env/

# Ignore VS Code settings
.vscode/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore output files
*.out
*.bak

# Ignore notebook outputs
*.nbconvert.ipynb

# Ignore all files in datasets except .gitkeep
datasets/*
!datasets/.gitkeep
